<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments.html :: headers}"></th:block>
  <script src="/register-validator.js"></script>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
  <form method="post" onsubmit="return validate()">
    <input type="text" placeholder="Imie" class="input-field" th:field="*{userModel.name}" id="name">
    <input type="text" placeholder="Nazwisko" class="input-field" th:field="*{userModel.surname}" id="surname">
    <input type="text" placeholder="Login" class="input-field" th:field="*{userModel.login}" id="login">
    <input type="password" placeholder="Hasło" class="input-field" th:field="*{userModel.password}" id="password">
    <input type="password" placeholder="Powtórz hasło" class="input-field" th:field="*{userModel.password2}" id="password2">
    <p id="info"></p>
    <input type="submit" value="Zarejestruj" class="button">
  </form>
</div>
</body>
</html>